@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

body{
    
    font-family: "Gabarito", sans-serif;
 
    
    background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("./imagem/mega_sena.jpg");
    background-size: cover;
    background-position: center;
     

    
    color: white;

    height: 100vh;
    width: 100vw;

    margin: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main{

    height: 50%;

    border-radius: 20px;

    padding: 20px;

    background: #134E5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
main div{
    margin: 20px 0;
}

main input{
    width: 60px;
}