@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

body {
    font-family: "Gabarito", sans-serif;
    color: #ffffff;

    min-height: 100vh;
    margin: 0;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(135deg, #71B280, #134E5E);
}

#conteudo {
    width: 100%;
    max-width: 480px;
    background-color: #f9fafb;

    border-radius: 16px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    color: #134E5E;

    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

#conteudo header{
    text-align: center;
    flex: 1;
}
#conteudo main{
    flex:2;
    text-align: center;
}

#conteudo div{
    margin: 20px 0;
}

#conteudo input{
    width: 60px;
}
#conteudo footer{
    text-align: center;
    font-size: 0.5rem;
    flex: 1;
}







